@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body {
  width: auto;
  background-color: #081220;
  color: #00F8B9;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25em;
}

.main-content {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  position: relative;
}

.header {
  flex-basis: 100%;
  display: block;
}

.header-image {
  width: 33%;
}

.streamers {
  color: #FF487C;
}

hr {
  color: #00F8B9;
}

.waifu {
  flex-basis: 100%;
  display: block;
}

.uwu-image {
  width: 22%;
  clip-path: circle(50% at center);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.uwu-image:hover {
  width: 23%;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #3e8e41;
}

.button2 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #af4c4c;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button2:hover {
  background-color: #c92929;
}

.button2:active {
  background-color: #af4c4c;
}